:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color-main: #ffffff;
  --background-color-footer: #2f303a;
  --background-color-team: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.19;
}
ul {
  list-style: none;
}

.site-nav-logo {
  color: black;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.site-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-header {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.web,
.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link.current,
.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}
/* Index.html */

/* Hero */
.hero {
  background-color: var(--background-color-footer);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature-list-title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  color: var(--text-color);
  line-height: 1.71;
}
.team,
.button-portfolio {
  background-color: var(--background-color-team);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
}
.team-position {
  color: var(--text-color);
  font-size: 16px;
}
/* Portfolio.html */
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
}
.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}
.portfolio-works {
  text-decoration: none;
}

/* Footer */

footer {
  background-color: var(--background-color-footer);
}
.footer-logo {
  color: #ffffff;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
address {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
