.hero {
  padding: 118px 0 118px 0;
  text-align: center;
  letter-spacing: 0.06em;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: $background-color-dark;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
}
