.services-list {
  display: flex;
}
.services-list__item {
  position: relative;
  width: 370px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.services-list__overlay {
  @include centeredFlex();
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.services-list__text {
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
