.cards-list {
  display: flex;
}
.cards-list__name {
  font-weight: 500;
  font-size: $font-size-secondary;
  margin-bottom: 10px;
}
.cards-list__position {
  color: $text-color;
  font-size: $font-size-secondary;
  margin-bottom: 16px;
}
.cards-list__item {
  background-color: $background-color-main;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.cards-list__meta {
  padding: 30px 32px 30px 32px;
  text-align: center;
}
