body {
  background-color: $background-color-main;
  color: $primary-text-color;
  font-family: $font-family-main;
  letter-spacing: 0.03em;
  font-size: $font-size-main;
  line-height: 1.19;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
