.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--nobottom {
    padding-bottom: 0px;
  }
  &--background-grey {
    background-color: $background-color-grey;
  }
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $primary-text-color;
  font-weight: $title-font-weight;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
