$primary-text-color: #212121;
$accent-color: #2196f3;
$text-color: #757575;
$background-color-main: #ffffff;
$background-color-dark: #2f303a;
$background-color-grey: #f5f4fa;
$icons-color: #afb1b8;
$portfolio-item-gap: 30px;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
